@{
    ViewData["Title"] = "درباره ما";
}
<div class="bread_crumb blur-up lazyload">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> درباره ما</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>درباره ما</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- About Us Start -->
<section id="about_us" class="about_us_sec about_page cmn_bg">
    <ul class="plus_decore">
        <li></li>
        <li></li>
    </ul>
    <div class="container about_sec about_sec_4">
        <div class="row">
            <div class="col-12">
                <div class="con_title">
                    <h2 data-aos="zoom-in">درباره ما</h2>
                    <hr />
                </div>
            </div>
            <div class="col-sm-8 mx-auto">
                <div data-aos="zoom-in">
                    <img src="~/assets/images/about-us.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-12">
                <div data-aos="zoom-in">
                    <div class="about_content">
                        <h4 class="text-center">طراحی و اجرا دکوراسیون داخلی منزل</h4>
                        <p>برند IDS با بیش از 30 سال تجربه در طراحی و اجرا دکوراسیون داخلی منزل اکنون در فضایی آنلاین در کنار شماست تا بتواند راحت تر با شما عزیزان ارتباط برقرار کند و این چرخه از طراحی و تولید تا اجرا در منزل شما را تسریع و تسهیل ببخشد </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us End -->

