@{
    ViewData["Title"] = "ارتباط با ما";
}
<div class="bread_crumb blur-up lazyload">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> تماس با ما</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>تماس با ما</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="contact-section cmn_bg">
    <!-- leave comment sectopn starts-->
    <div class="comment_form contact_form contect_f">
        <div class="text-xl-left">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 contact_text">
                        <div class="angle angle-left"></div>
                        <h3 class="title">تماس با ما</h3>
                        <p>اگر سؤالی دارید ، فقط فرم تماس را پر کنید ، و ما به زودی به شما پاسخ خواهیم داد. اگر در همین نزدیکی زندگی می کنید ، به یکی از دفاتر راحت ما بروید.</p>
                        <div class="contect_info">
                            <div class="contect-title">
                                <h3 class="title">اطلاعات</h3>
                            </div>
                            <div class="contant-text">
                                <ul>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>مشهد - بلوار جلال آل احمد</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i>تماس با ما: 05136666666</li>
                                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>ایمیل به ما: anything@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- leave comment sectopn starts-->
                    <div class="col-lg-8 center">
                        <div class="angle angle-right"></div>
                        <div class="quote_2 comment_form_sec">
                            <div class="container bg-transparent">
                                <div class="row">
                                    <div class="col-12 quote_form">
                                        <h3 class="page-header-comment mb-4">نظرتان را بگذارید :</h3>
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>نام :</label>
                                                    <input type="text" class="form-control" placeholder="نام خود را وارد کنید" required="">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="inputEmail4">ایمیل :</label>
                                                    <input type="email" class="form-control" id="inputEmail4" placeholder="ایمیل خود را وارد کنید" required="">
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label for="exampleTextarea">پیام :</label>
                                                    <textarea class="form-control msg_coment" id="exampleTextarea" rows="3" placeholder="ارسال یک نظر" required=""></textarea>
                                                </div>
                                            </div>
                                            <a class="quote_btn theme_btn" href="#">
                                                پیام خود را ارسال کنید
                                                <span class="theme_btn_eff"></span>
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- leave comment section end-->
                </div>
            </div>
        </div>
    </div>
    <!-- leave comment section end-->
</section>
<!-- Contact-us End -->
