@{
    ViewData["Title"] = "خدمات ما";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Start -->
<div class="bread_crumb blur-up lazyload">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> خدمات ما</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>خدمات ما</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Start -->
<!-- Our Service Start -->
<section id="service" class="our_service_2 cmn_bg service_page">
    <ul class="plus_decore">
        <li></li>
        <li></li>
    </ul>

    <div class="container our_service">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <div>
                        <img src="~/assets/images/solar/services/1.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                        <div class="service_content">
                            <div class="service_title">
                                <h5>اطلاعات ساختمان</h5>
                                <div class="icon_bg">
                                    <div class="center-content">
                                        <img src="~/assets/images/solar/service_icon/6.png" class="img-fluid service_icon" alt="serviceimage">
                                    </div>
                                </div>
                            </div>
                            <p>لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است.</p>
                            <a href="#">ادامه مطلب</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/solar/services/2.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="service_content">
                        <div class="service_title">
                            <h5>خدمات انقباض</h5>
                            <div class="icon_bg">
                                <div class="center-content">
                                    <img src="~/assets/images/solar/service_icon/5.png" class="img-fluid service_icon" alt="serviceimage">
                                </div>
                            </div>
                        </div>
                        <p>
                            لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است
                            .
                        </p>
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/solar/services/3.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="service_content">
                        <div class="service_title">
                            <h5>پیش از انقباض</h5>
                            <div class="icon_bg">
                                <div class="center-content">
                                    <img src="~/assets/images/solar/service_icon/4.png" class="img-fluid service_icon" alt="serviceimage">
                                </div>
                            </div>
                        </div>
                        <p>
                            لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است
                            .
                        </p>
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/solar/services/4.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="service_content">
                        <div class="service_title">
                            <h5>پیش از انقباض</h5>
                            <div class="icon_bg">
                                <div class="center-content">
                                    <img src="~/assets/images/solar/service_icon/4.png" class="img-fluid service_icon" alt="serviceimage">
                                </div>
                            </div>
                        </div>
                        <p>
                            لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است
                            .
                        </p>
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/solar/services/5.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="service_content">
                        <div class="service_title">
                            <h5>پیش از انقباض</h5>
                            <div class="icon_bg">
                                <div class="center-content">
                                    <img src="~/assets/images/solar/service_icon/4.png" class="img-fluid service_icon" alt="serviceimage">
                                </div>
                            </div>
                        </div>
                        <p>
                            لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است
                            .
                        </p>
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/solar/services/1.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="service_content">
                        <div class="service_title">
                            <h5>پیش از انقباض</h5>
                            <div class="icon_bg">
                                <div class="center-content">
                                    <img src="~/assets/images/solar/service_icon/4.png" class="img-fluid service_icon" alt="serviceimage">
                                </div>
                            </div>
                        </div>
                        <p>
                            لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است
                            .
                        </p>
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/solar/services/2.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="service_content">
                        <div class="service_title">
                            <h5>پیش از انقباض</h5>
                            <div class="icon_bg">
                                <div class="center-content">
                                    <img src="~/assets/images/solar/service_icon/4.png" class="img-fluid service_icon" alt="serviceimage">
                                </div>
                            </div>
                        </div>
                        <p>
                            لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است
                            .
                        </p>
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/solar/services/3.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="service_content">
                        <div class="service_title">
                            <h5>پیش از انقباض</h5>
                            <div class="icon_bg">
                                <div class="center-content">
                                    <img src="~/assets/images/solar/service_icon/4.png" class="img-fluid service_icon" alt="serviceimage">
                                </div>
                            </div>
                        </div>
                        <p>
                            لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است
                            .
                        </p>
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service_our_2" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/solar/services/4.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="service_content">
                        <div class="service_title">
                            <h5>پیش از انقباض</h5>
                            <div class="icon_bg">
                                <div class="center-content">
                                    <img src="~/assets/images/solar/service_icon/4.png" class="img-fluid service_icon" alt="serviceimage">
                                </div>
                            </div>
                        </div>
                        <p>
                            لورم اپیزوم به سادگی متن ساختگی صنعت چاپ و تحریر است
                            .
                        </p>
                        <a href="#">ادامه مطلب</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Service End -->

