@{
    ViewData["Title"] = "تیم ما";
}
<div class="bread_crumb blur-up lazyload">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sec_low">
                <div class="functionalities">
                    <ul id="breadcrumb" class="breadcrumb">
                        <li><a title="Home" href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li><strong><i class="fa fa-angle-double-right" aria-hidden="true"></i> تیم ما</strong></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-title">
                    <h2>تیم ما</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="home_1_team team_page cmn_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/team/2.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="team_details">
                        <div>
                            <h3>نگین دریادل</h3>
                            <h5>مدیر اجرایی</h5>
                            <ul class="social">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="فیسبوک"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="گوگل-پلاس"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="توییتر"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="اینستاگرام"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/plumbing/team/3.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="team_details">
                        <div>
                            <h3>آرش خادملو</h3>
                            <h5>تیم اجرایی</h5>
                            <ul class="social">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="فیسبوک"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="گوگل-پلاس"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="توییتر"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="اینستاگرام"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/team/1.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="team_details">
                        <div>
                            <h3>فاطمه دریادل</h3>
                            <h5>ناظر و پشتیبان</h5>
                            <ul class="social">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="فیسبوک"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="گوگل-پلاس"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="توییتر"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="اینستاگرام"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/plumbing/team/2.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="team_details">
                        <div>
                            <h3>حسین عزیزی</h3>
                            <h5>تیم اجرایی</h5>
                            <ul class="social">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="فیسبوک"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="گوگل-پلاس"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="توییتر"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="اینستاگرام"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/team/3.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="team_details">
                        <div>
                            <h3>علی علوی</h3>
                            <h5>مهندس ناظر</h5>
                            <ul class="social">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="فیسبوک"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="گوگل-پلاس"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="توییتر"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="اینستاگرام"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="team_sec" data-aos="fade-up" data-aos-duration="1500">
                    <img src="~/assets/images/plumbing/team/1.jpg" class="img-fluid blur-up lazyload " alt="serviceimage">
                    <div class="team_details">
                        <div>
                            <h3>محمد محمدی</h3>
                            <h5>تیم اجرایی</h5>
                            <ul class="social">
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="فیسبوک"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="گوگل-پلاس"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="توییتر"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="top" title="اینستاگرام"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pagination Start -->
    <div class="pagination_sec">
        <div class="content_detail__pagination cdp">
            <a href="#" class="cdp_i"><i class="fa fa-angle-double-left" aria-hidden="true"></i>قبلی</a>
            <a href="#" class="cdp_i">1</a>
            <a href="#" class="cdp_i">2</a>
            <a href="#" class="cdp_i">3</a>
            <a href="#" class="cdp_i">بعدی<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- pagination End -->
</section>

